<center><a href="{% url 'home' %}"><h1>Company Name#1234</h1></a></center>
<marquee behavior="" direction="right"></marquee>

    <style>
        .nav{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr 1fr;
        }
    </style>

    <div>
        <h4 align="left">Welcome 2 .....</h4>
    </div>
    <div class="nav">
        <h4 ><a href="{% url 'home' %}">Home</a></h4>
        <h4 ><a href="">More Services</a></h4>
        <h4 ><a href="{% url 'book' %}?t=consult">Consult Now</a></h4>
        <h4 ><a href="">About Us</a></h4>
    </div>
<hr>
